.slick-dots li.slick-active button:before {
  border-radius: 100px;
}
/* Style One Template */
.style-one{
	background: #fff;
	padding: 25px 0px;
}
.style-one .author-img{
	margin-right: 20px;
}
.style-one .slide-content{
	padding: 0 25px;
}
/* Style Two Template */
.style-two .slick-slide {
  background: #fff;
  margin: 0px 15px;
  border: 1px solid #d3d3d3;
  height: auto;
}
.testimonials-wrap {
	display: none;
}

/* Responsive Css */
@media (max-width: 1000px){
	.slick-prev, .slick-next {
		display: none !important;
	}	
}