.counter-wrapper .counter-text-container {
	text-align: center;
}
.counter-wrapper .counter-text-container .counter-number {
	display: flex;
	justify-content: center;
}
/* Skill Counter
=========================== */
.counter-sub-container .counter-wrapper .counter-text-container .counter-number {
	line-height: 1;
	margin: 0;
}
.counter-sub-container .counter-wrapper .counter-text-container .counter-number sup {
	top: -0.1rem;
}
.counter-sub-container .counter-wrapper .counter-text-container .counter-number + .counter-title {
	margin-top: 10px;
}
.counter-sub-container .counter-wrapper .counter-text-container .counter-title + .counter-number {
	margin-top: 20px;
}
.counter-sub-container .counter-wrapper .counter-text-container .counter-title {
	margin: 0;
}
.counter-sub-container .counter-wrapper .counter-icon {
	line-height: 1;
	text-align: center;
	margin-top: 20px;
}
.counter-sub-container .counter-wrapper .counter-icon img {
	display: inline-block;
}
