/* Test */

/* ----- Heading Count ----- */
.heading-count .percent span{
	font-family: "Satisfy",cursive;
    font-size: 8rem;
    height: 100%;
    line-height: 8rem;
	position: relative;
	display: inline-block;
}
.heading-count .percent{
	position: relative;
}
.heading-count .percent:before{
	content: "";
	display: block;
	background: url(../images/countdown-img.png) no-repeat;
	position: absolute;
	left: -60px;
	right: 25px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	bottom: -10px;
}
.heading-count .discount-title span{
	font-size: 7rem;
	font-weight: 800;
    height: 100%;
    line-height: 7rem;
	position: relative;
	display: inline-block;
}
.countdown .days,.countdown .hours,.countdown .minutes,.countdown .seconds {
    display: inline-block;
	padding: 10px;
	text-align: center;
}
.countdown p{
	margin: 0px;
}
.countdown span{
	font-size: 30px;
    font-weight: 500;
}
/* Reponsive css */
@media screen and (max-width:991px) {
	.heading-count .percent span{
		font-size: 5rem;
		line-height: 7rem;
	}
	.heading-count .discount-title span{
		font-size: 5rem;
		line-height: 5rem;
	}
}