.icon-48-tours {
      background-image: url(../images/l_tours.png);
      padding-left:60px!important;
}

.icon-48-tour {
      background-image: url(../images/l_tours.png);
      padding-left:60px!important;
}

.color-box-tours { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}

.icon-48-reviews {
      background-image: url(../images/l_reviews.png);
      padding-left:60px!important;
}

.icon-48-review {
      background-image: url(../images/l_reviews.png);
      padding-left:60px!important;
}

.color-box-reviews { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}

.load_more_content {
    display:none;
}

#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}